In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df = pd.read_csv('raspidat_dummy.csv', parse_dates=['Timestamp'], index_col='Timestamp', date_parser=lambda x: pd.to_datetime(x))

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1867 entries, 2025-05-20 16:49:25 to 2025-05-21 16:07:07
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Temperature (°C)    1867 non-null   float64
 1   Humidity (%)        1867 non-null   float64
 2   Pressure (hPa)      1867 non-null   float64
 3   Gas Resistance (Ω)  1867 non-null   float64
 4   Violet (450nm)      1867 non-null   float64
 5   Blue (500nm)        1867 non-null   float64
 6   Green (550nm)       1867 non-null   float64
 7   Yellow (570nm)      1867 non-null   float64
 8   Orange (600nm)      1867 non-null   float64
 9   Red (650nm)         1867 non-null   float64
dtypes: float64(10)
memory usage: 160.4 KB

In [30]:
# Find how many duplicate rows exist based on timestamp
dup = df.index.duplicated(keep='first')
print(f"Number of duplicate rows: {dup.sum()}")

# Remove duplicate rows from df and confirm removal
df = df[~df.index.duplicated(keep='first')]
print(f"Number of duplicate rows post removal: {df.index.duplicated(keep='first').sum()}")

Number of duplicate rows: 140
Number of duplicate rows post removal: 0

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1727 entries, 2025-05-20 16:49:25 to 2025-05-21 16:07:07
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Temperature (°C)    1727 non-null   float64
 1   Humidity (%)        1727 non-null   float64
 2   Pressure (hPa)      1727 non-null   float64
 3   Gas Resistance (Ω)  1727 non-null   float64
 4   Violet (450nm)      1727 non-null   float64
 5   Blue (500nm)        1727 non-null   float64
 6   Green (550nm)       1727 non-null   float64
 7   Yellow (570nm)      1727 non-null   float64
 8   Orange (600nm)      1727 non-null   float64
 9   Red (650nm)         1727 non-null   float64
dtypes: float64(10)
memory usage: 213.0 KB

Above: The data collection interval is from 2025-05-20 16:49:25 to 2025-05-21 16:07:07. The

In [34]:
df.describe()

,Temperature (°C),Humidity (%),Pressure (hPa),Gas Resistance (Ω),Violet (450nm),Blue (500nm),Green (550nm),Yellow (570nm),Orange (600nm),Red (650nm)
count,1727.000000,1727.000000,1727.000000,1727.0,1727.000000,1727.000000,1727.000000,1727.000000,1727.000000,1727.000000
mean,26.058408,27.135958,1012.511477,102400000.0,61.720418,60.170801,77.162095,91.682402,96.993153,58.032353
std,1.229229,3.132286,0.982670,0.0,55.454014,55.178521,68.984101,83.357751,86.917659,52.292150
min,22.940000,20.400000,1010.890000,102400000.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,25.110000,25.095000,1011.420000,102400000.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,26.030000,26.340000,1012.810000,102400000.0,89.160316,74.422035,112.533455,123.224983,147.710037,83.744850
75%,27.120000,28.910000,1013.430000,102400000.0,117.316208,119.331879,145.497803,179.106079,182.641464,108.057869
max,29.070000,37.070000,1013.890000,102400000.0,150.164749,152.693481,225.066910,240.718582,252.504318,144.077164

In [35]:
print(df.head(10))

                     Temperature (°C)  Humidity (%)  Pressure (hPa)  \
Timestamp
2025-05-20 16:49:25             25.60         22.42         1011.75
2025-05-20 16:51:58             25.63         22.43         1011.62
2025-05-20 16:52:58             25.63         22.38         1011.64
2025-05-20 16:53:58             25.68         22.43         1011.64
2025-05-20 20:04:46             25.41         24.38         1011.36
2025-05-20 20:05:16             25.42         24.35         1011.33
2025-05-20 20:08:50             25.46         24.99         1011.29
2025-05-20 20:27:26             25.11         24.92         1011.07
2025-05-20 20:27:36             25.11         24.93         1011.08
2025-05-20 20:27:46             25.10         24.88         1011.06

                     Gas Resistance (Ω)  Violet (450nm)  Blue (500nm)  \
Timestamp
2025-05-20 16:49:25         102400000.0        0.000000    144.994659
2025-05-20 16:51:58         102400000.0      146.645264    147.560928
2025-05-20 16:52:58         102400000.0      150.164749    152.693481
2025-05-20 16:53:58         102400000.0      148.991592    150.127213
2025-05-20 20:04:46         102400000.0      106.757751    115.482468
2025-05-20 20:05:16         102400000.0      105.584587    112.916191
2025-05-20 20:08:50         102400000.0      126.701508    129.596985
2025-05-20 20:27:26         102400000.0       96.199295     80.837723
2025-05-20 20:27:36         102400000.0      126.701508    130.880127
2025-05-20 20:27:46         102400000.0      126.701508    130.880127

                     Green (550nm)  Yellow (570nm)  Orange (600nm)  \
Timestamp
2025-05-20 16:49:25     219.383408      233.076721        0.000000
2025-05-20 16:51:58     220.520111      235.942413        0.000000
2025-05-20 16:52:58     225.066910      240.718582      252.504318
2025-05-20 16:53:58     222.793518      237.852875      251.506287
2025-05-20 20:04:46     111.396759      151.881958      142.719833
2025-05-20 20:05:16     109.123352      149.971497      140.723755
2025-05-20 20:08:50     156.864822      192.001724      193.619919
2025-05-20 20:27:26     104.576546      123.224983      149.706116
2025-05-20 20:27:36     159.138229      193.912186      194.617950
2025-05-20 20:27:46     159.138229      194.867416      195.615997

                     Red (650nm)
Timestamp
2025-05-20 16:49:25     0.000000
2025-05-20 16:51:58     0.000000
2025-05-20 16:52:58   144.077164
2025-05-20 16:53:58   143.176682
2025-05-20 20:04:46   108.057869
2025-05-20 20:05:16   107.157387
2025-05-20 20:08:50   117.062691
2025-05-20 20:27:26    90.948708
2025-05-20 20:27:36   117.963173
2025-05-20 20:27:46   118.863655